# включаємо модуль перетворення запиту
RewriteEngine on
# будь-які запити (.*) перетворюємо у access_manager.php
RewriteRule .*  access_manager.php [QSA]
# QSA - query string append - збереження url-параметрів